.footer_area{
     background-image: url('../../Assets/Images/footer.png');
     background-size: cover;
     height: 300px;
     display: flex;
     align-items: center;
     justify-content: space-around;
}

.footer_icon{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

